@import "vars";

body {
  position: relative;
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--main-text-color);
}

.wrapper-container {
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}